.chat-message-window {
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;

	&--title {
		height: 10%;
		display: flex;
		border-bottom: 1px solid white;
	}

	&--body {
		height: 75%;
		border-bottom: 1px solid white;
	}

	&--input {
		height: 15%;
	}
}
