@import "../../../../../styles/include-media.scss";

.signup {
	margin-bottom: 1em;
	&--stepper {
		&__horizontal {
			display: block;

			@include media("<tablet") {
				display: none;
			}
		}

		&__vertical {
			margin-top: 2%;
		}
	}

	&--title {
		@include media("<tablet") {
			margin-top: 8em;
		}
	}

}
