<div class="signup">
	<h2 class="text-center signup--title">Sign up </h2>

	<div *ngIf="!mobile">
		<app-stepper [parentForms]='signUpForms' [stepNames]="steps" [submitCallBack]='getCallback()'>
			<app-personal-details class='step1' [parentForm]="signUpForms[0]"></app-personal-details>
			<app-contact-details class='step2' [parentForm]="signUpForms[1]"></app-contact-details>
			<app-password class="step3" [parentForm]="signUpForms[2]"></app-password>
			<h1 class="step4">Step 4</h1>
		</app-stepper>
	</div>

	<div *ngIf="mobile" class="signup--stepper__vertical">
		<app-stepper-mobile [parentForms]='signUpForms' [stepNames]="steps" [submitCallBack]='getCallback()'>
			<app-personal-details class='step1' [parentForm]="signUpForms[0]"></app-personal-details>
			<app-contact-details class='step2' [parentForm]="signUpForms[1]"></app-contact-details>
			<app-password class="step3" [parentForm]="signUpForms[2]"></app-password>
			<h1 class="step4">Step 4</h1>
		</app-stepper-mobile>
	</div>
	<small><a [routerLink]="'/auth/login'" class="link">Already have an account? Please login</a></small>
</div>
