	<mat-form-field class="full-width" appearance="outline">
		<mat-label>Password</mat-label>
		<input #password matInput
			[type]="hide ? 'password' : 'text'"
			[formControl]="formControl"
			placeholder="Ex. Abc@123"
			(focus)="isBlured=false"
			(blur)="onBlur()"
			>
		<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
		<mat-error *ngIf="formControl.hasError('minlength') && !formControl.hasError('required')">
			Minimum 8 characters
		</mat-error>
		<mat-error *ngIf="formControl.hasError('required')">
			Password is <strong>required</strong>
		</mat-error>
		<mat-error *ngIf="formControl.hasError('weak') && checkStrength">
			<strong>Weak</strong> password
		</mat-error>
	</mat-form-field>

<app-password-strength *ngIf='checkStrength' [passwordToCheck]="password.value" (passwordStrength)="passwordValid($event)">
</app-password-strength>
