<form [formGroup]="parentForm" novalidate>
	<div class="form-group">
		<app-input type="text" labelName="First Name" [parentForm]='parentForm' [controlName]="'firstName'"
			[required]='true' [pattern]='pattern' [maxLength]='maxLength'></app-input>
	</div>
	<div class="form-group">
		<app-input type="text" labelName="Last Name" [parentForm]='parentForm' [controlName]="'lastName'"
			[required]='false' [pattern]='pattern' [maxLength]='maxLength'></app-input>
	</div>
	<!-- <div class="form-group">
		<app-date-picker labelName="Date Of Birth" [parentForm]='parentForm' [controlName]="'dob'"
			[required]='false'></app-date-picker>
	</div> -->
</form>
