<ng-template #step1Template>
	<ng-content select='.step1'></ng-content>
</ng-template>

<ng-template #step2Template>
	<ng-content select='.step2'></ng-content>
</ng-template>

<ng-template #step3Template>
	<ng-content select='.step3'></ng-content>
</ng-template>

<ng-template #step4Template>
	<ng-content select='.step4'></ng-content>
</ng-template>

<ng-template #step5Template>
	<ng-content select='.step5'></ng-content>
</ng-template>
<div class="stepper--vertical">
	<mat-vertical-stepper  [linear]="true" #stepper>
		<ng-container *ngFor='let step of stepNames; let first = first; let last = last; let index= index;'>
			<mat-step [stepControl]="parentForm">
				<ng-template matStepLabel>{{step}}</ng-template>
				<form [formGroup]='parentForm'>
					<ng-container *ngIf="index===0">
						<ng-container *ngTemplateOutlet="step1Template"></ng-container>
					</ng-container>
					<ng-container *ngIf="index===1">
						<ng-container *ngTemplateOutlet="step2Template"></ng-container>
					</ng-container>
					<ng-container *ngIf="index===2">
						<ng-container *ngTemplateOutlet="step3Template"></ng-container>
					</ng-container>
					<ng-container *ngIf="index===3">
						<ng-container *ngTemplateOutlet="step4Template"></ng-container>
					</ng-container>
					<ng-container *ngIf="index===4">
						<ng-container *ngTemplateOutlet="step5Template"></ng-container>
					</ng-container>

					<div>
						<button  matStepperNext *ngIf='!last'>Next</button>
						<button mat-button matStepperPrevious *ngIf='!first'>Back</button>
						<button mat-button (click)="stepper.reset()" *ngIf='last'>Reset</button>
						<button mat-button (click)="submitCallBack()" *ngIf='last'>Submit</button>
					</div>
				</form>
			</mat-step>
		</ng-container>
	  </mat-vertical-stepper>
</div>
