<mat-form-field class="full-width" [appearance]="appearance">
	<mat-label>{{getLableName()}}</mat-label>
	<input matInput [type]="type" [formControl]="formControl" (blur)="formatInput()" [placeholder]="placeHolder">
	<mat-error *ngIf="formControl.hasError('required')" class="warning">
		{{labelName}} is <b class="warning">required</b>
	</mat-error>

	<mat-error *ngIf="formControl.hasError('minLength')" class="warning">
		{{labelName}} should have at least {{minLength}} characters
	</mat-error>

	<mat-error *ngIf="formControl.hasError('maxLength')" class="warning">
		{{labelName}} should have maximum {{minLength}} characters
	</mat-error>

	<mat-error *ngIf="formControl.hasError('pattern')" class="warning">
		Illegals characters
	</mat-error>
</mat-form-field>
