@import './theme.scss';

@mixin global($theme) {

	$primary: map-get($theme, primary);
	$foreground: map-get($theme, foreground);

	.active {
		color: map-get($foreground, text) !important;
		background-color: #0d86e7 !important;
	}

	.shadow {
		-webkit-box-shadow: 10px 10px 65px -36px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 10px 10px 65px -36px rgba(0, 0, 0, 0.75);
		box-shadow: 10px 10px 65px -36px rgba(0, 0, 0, 0.75);
	}

	.full-width {
		width: 100%;
	}

	button:focus {
		outline: none !important;
	}

}

body {
	@include global($dark-theme);
}
