@import "./include-media.scss";

@mixin ng-components($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warning: map-get($theme, warn);
	$background: map-get($theme, background);
	$foreground: map-get($theme, foreground);

	.mat-icon {
		color: map-get($foreground, text) !important;
	}

	.warning {
		color: map-get($warning, default) !important;
	}

	.success {
		color: greenyellow;
	}
	.stepper--horizontal {
		.mat-stepper-horizontal {
			background-color: transparent;
		}
	}

	.stepper--vertical {
		.mat-stepper-vertical {
			background-color: transparent;
		}

		.mat-stepper-vertical-line::before {
			@include media("<tablet") {
				left: -21px;
			}
		}

		.mat-vertical-stepper-header {
			@include media("<tablet") {
				padding-left: 5px !important;
			}
		}

		.mat-vertical-content {
			@include media("<tablet") {
				padding: 0 0 24px;
			}
		}
	}
}
