@import "~@angular/material/theming";
@include mat-core();

@mixin custom-components-theme($theme) {
	@include ng-components($theme);
	@include ui-components($theme);
}

// Light theme
$light-primary: mat-palette($mat-light-blue, 500, 300, 700);
$light-accent: mat-palette($mat-amber, A200, 800, A100);
$light-theme: mat-light-theme($light-primary, $light-accent);
$light-background: map-get($light-theme, background);

.light-theme {
	background-color: map-get($light-background, background);
	@include angular-material-theme($light-theme);
	@include custom-components-theme($light-theme);
}

// Dark theme
$dark-primary: mat-palette($mat-blue, 500, 300, 900);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
$dark-background: map-get($dark-theme, background);

.dark-theme {
	background-color: map-get($dark-background, background);
	@include angular-material-theme($dark-theme);
	@include custom-components-theme($dark-theme);
}
