@mixin ui-components($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$background: map-get($theme, background);
	$foreground: map-get($theme, foreground);

	* {
		color: map-get($foreground, text);
	}

	h2 {
		color: map-get($foreground, text);
		margin-bottom: 1em;
	}

	.hide-scroll-bar {
		-ms-overflow-style: none;  /* Internet Explorer 10+ */
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;  /* Safari and Chrome */
		}
	}

	.link {
		color: map-get($accent, lighter);
		font-size: medium;
		display: inline-block;
		margin-top: 1em;
		margin-bottom: 1em;
	}

	.button {
		height: 5%;
		width: max-content;
		padding: 1em 2em;
		background-color: map-get($primary, default);
		border: none;
		border-radius: 10px;
		color: map-get($foreground, text);
		cursor: pointer;

		&:hover {
			box-shadow: $box-shadow;
		}

		&:disabled {
			background-color: map-get($primary, lighter);
			color: map-get($foreground, disabled-text);
			cursor: default;

			&:hover {
				box-shadow: none;
			}
		}

		&--full {
			width: 100%;
		}
	}

	.cursor-pointer {
		cursor: pointer;
	}

	.divider {
		width: 100%;
		display: block;
		&::after {
			content: "";
			height: 1px;
			background-color: #94aaa7;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}

		&:last-child {
			&::after {
				width: 0px;
			}
		}
	}

	.background-card {
		background-color: map-get($background, card) !important;

		&--hover {
			&:hover {
				background-color: darken(map-get($background, card), 2%);
			}
		}

		&--selected {
			background-color: darken(map-get($background, card), 10%) !important;
		}
	}

	.background-primary {
		background-color: map-get($background, background) !important;
	}

	.background-transparent {
		background-color: transparent !important;
	}

	.position-fixed {
		position: fixed !important;
	}

	.image-circle {
		border-radius: 50%;
	}

	.status {
		&--online {
			&::before {
				content: "";
				height: 10px;
				width: 10px;
				margin: 0 0.5em;
				display: inline-block;
				border: solid black 1px;
				border-radius: 50%;
				background-color: greenyellow;
			}
		}

		&--offline {
			&::before {
				content: "";
				height: 10px;
				width: 10px;
				margin: 0 0.5em;
				display: inline-block;
				border: solid black 1px;
				border-radius: 50%;
			}
		}
	}
}
