.strength {
	display: flex;
	margin: 1em 0em;

	p {
		margin: 0;
		padding-left: 1em;
	}
}
.strengthBar {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
	vertical-align: 2px;
}

.point:last-of-type {
	margin: 0 !important;
}

.point {
	background: #ddd;
	border-radius: 2px;
	display: inline-block;
	height: 5px;
	margin-right: 1px;
	width: 62px;
}

.validation-message {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	p {
		margin-bottom: 5px;
	}
}
