<div class="strength">
	<ul class="strengthBar">
	  <li class="point" [style.background-color]="bar0"></li>
	  <li class="point" [style.background-color]="bar1"></li>
	  <li class="point" [style.background-color]="bar2"></li>
	  <li class="point" [style.background-color]="bar3"></li>
	</ul>
	<br>
	<p>{{msg}}</p>
  </div>

<div class='validation-message'>
	<p>Your password must be</p>
	<p [ngClass]="passwordToCheck.length >= 8 ? 'success' : 'warning'"> at least 8 characters</p>
	<p [ngClass]="numbers ? 'success' : 'warning'"> one number, </p>
	<p [ngClass]="symbols ? 'success' : 'warning'"> one special character </p>
	<p>
		<span [ngClass]="upperLetters ? 'success' : 'warning'"> one uppercase </span>
		<span>&amp;</span>
		<span [ngClass]="lowerLetters ? 'success' : 'warning'"> one lowercase letter </span>
	</p>
</div>
